# On suit les liens symboliques 
Options +FollowSymlinks 
# Activation du mod rewrite d'Apache 
RewriteEngine On
RewriteBase /
RewriteRule ^([a-z_]+)/([0-9]+)$ ./index.php?action=$1&id=$2 [L]
RewriteRule ^episode/page-([0-9]+)$ ./index.php?action=episode&page=$1 [L]
RewriteRule ^episode/number-([0-9]+)$ ./index.php?action=episode&number=$1 [L]
RewriteRule ^comment_post/([0-9]+)$ ./index.php?action=comment_post&number=$1 [L]
RewriteRule ^unsubscribe/(.+)$ index.php?action=unsubscribe&pseudo=$1 [L]
RewriteRule ^([a-z_]+)$ index.php?action=$1 [L]