/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* Général */

	/* Contenants */

	body {
		margin: 0;
		padding: 0;
		color: #122459;
	}

	.container-fluid {
		margin-top: 72px;
		background-color: #9BA8F2;
	}

	/* Textes */

	h1 {
		font-family: 'Concert One', cursive;
		font-size: 4em;
		font-weight: 400;
		color: #122459;
		text-align: center;
		padding-left: 10px;
		padding-right: 10px;
	}

	h2, h3, h4 {
		font-family: 'Lato', sans-serif;
		text-align: center;
		padding-left: 10px;
		padding-right: 10px;
	}

	h2, h3 {
		color: #122459;
	}

	h2 {
		font-size: 2em;
		font-weight: 700;
	}

	h3 {
		font-size: 1.5em;
		color: #be96cc;
		margin: 0;
	}

	h4 {
		font-size: 1.5em;
		color: #be96cc;
		margin: 0;
	}

	p {
		font-family: 'Lato', sans-serif;
		font-size: 1em;
		color: #122459;
		font-weight: 400;
	}

	a {
		font-size: 1em;
		font-weight: 400;
		color: #445EF2;
	}

	a:hover {
		color: #445EF2;
		text-decoration: none;
	}

	ul {
		list-style: none;
	}

	/* Boutons */

	.btn {
		font-family: 'Concert One', cursive;
		font-size: 1em;
		border-radius: 5px;
		padding: 10px 20px;
		font-weight: 700;
		width: 200px;
	}

		/* Call to Action */

		.btn__CTA {
			color: #be96cc;
			background-color: #122459;
			border: 2px #122459 solid;
			margin: 20px 0 0 0;
		}

		.btn__CTA:hover {
			background-color: #be96cc;
			border: 2px #be96cc solid;
			color:  #122459;
		}

		/* Général : lecture, aperçu, modification */

		.btn__read {
			color: #445EF2;
			border: 1px #445EF2 solid;
		}

		.btn__read:hover{
			color: #FFFFFF;
			border: 1px #FFFFFF solid;
			background-color: #445EF2;
		}

		/* Actions moins souhaitées : supprimer, alerter  */

		.btn__alert {
			color: #9BA8F2;
			border: 1px #9BA8F2 solid;
		}
	
		.btn__alert:hover{
			color: #FFFFFF;
			border: 1px #FFFFFF solid;
			background-color: #9BA8F2;
		}

		/* Fixation de taille, boutons regoupés */

		.btn__top {
			margin-bottom: 2px;
		}

		.btn__middle {
			margin-top: 2px;
			margin-bottom: 2px;
		}

		.btn__bottom {
			margin-top: 2px;
		}

		.btn__prev {
			margin-right: 15px;
		}
	
		.btn__next {
			margin-left: 15px;
		}

		.btn__together {
			padding-left: 15px;
			padding-right: 15px;
		}

		.btn__SizePlus {
			width: 300px;
		}

	/* Icones et signes */

	.fas {
		padding-right: 5px;
	}

	hr {
		text-align: center;
		width: 5%;
		height: 4px;
		border: none;
		background-color: #445EF2;
	}

	/* Blocs */

	#novel-episodes, #episode-read, #episode-look, #episode-write, #episode-update, .identification, .admin-jf, #error404 {
		padding-top: 118px;
	}

	#novel-episodes, #episode-look, #episode-write, #episode-update, #novel-author, #episode-comments, .identification, #admin-comments, #error404 {
		margin-bottom: 50px;
	}

	.novel-section article {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin: 20px 0;
		padding: 40px;
		background-color: #FFFFFF;
		border: 1px #FFFFFF solid; 
		border-radius: 5px;
		-webkit-box-shadow: 0 0 3px 0 #445EF2;
		        box-shadow: 0 0 3px 0 #445EF2;
		border: 1px #FFFFFF solid;
	}

	.novel-section article p {
		margin: 0;
	}

	.novel-section article p, .novel-section article h3, .novel-section article h4 {
		padding-right: 15px;
		overflow-wrap: break-word;
	}

	.novel-section article a, .novel-section article h3, .novel-section article h4 {
		padding-left: 15px;
	}	

	.novel-section h2 {
		margin-bottom: 30px;
	}

	.novel-episodes__list ul:first-child {
		margin-top: 50px;
		padding-left: 0;
	}

	.novel-episodes__list__buttons {
		padding-left: 0;
	}

	.novel-episodes__list li {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	.novel-episodes__list p {
		text-align: center;
	}

	.data__no {
		text-align: center;
		margin-top: 54px;
		margin-bottom: 50px;
		padding: 0 15px;
	}

	.episode__no {
		padding: 150px 0 150px 0;
	}

	.page__no {
		margin-bottom: 154px;
	}

	/* Modales */

	.modal-title {
		font-family: 'Lato', sans-serif;
		color: #be96cc;
	}

	.modal-footer .btn__no {
		color: #445EF2;
		background-color: transparent;
		border: 1px #445EF2 solid;
	}

	.modal-footer .btn__ok {
		color: #FFFFFF;
		background-color: #445EF2;
		border: 1px #445EF2 solid;
	}

	.close span {
		color: #be96cc;
	}

/* Mise en forme du header */

.navbar {
	font-family: 'Lato', sans-serif;
	-webkit-box-shadow: 0 0 2px 0 #445EF2;
	        box-shadow: 0 0 2px 0 #445EF2;
	background-color: #FFFFFF;
}

.navbar img {
	padding-left: 12px;
	margin-right: 5px;
}

.navbar-brand {
	font-family: 'Pacifico', cursive;
	color: #be96cc;
	font-weight: 400;
}

.navbar-brand:hover {
	color: #be96cc;;
}

.navbar-expand-lg .navbar-nav .left-part .nav-link {
	color: #445EF2;
}

.navbar-expand-lg .navbar-nav .left-part .nav-link:hover {
	color: #445EF2;
}

.navbar-expand-lg .navbar-nav .right-part .nav-link {
	color: #be96cc;
}

.navbar-expand-lg .navbar-nav .subscription .nav-link, .navbar-expand-lg .navbar-nav .administration .nav-link {
	border: 2px #be96cc solid;
	border-radius: 5px;
}

.navbar-expand-lg .navbar-nav .subscription .nav-link:hover, .navbar-expand-lg .navbar-nav .administration .nav-link:hover {
	color: #FFFFFF;
	background-color: #be96cc;
	border: 2px #be96cc solid;
	border-radius: 5px;
}

.navbar-expand-lg .navbar-nav .login .nav-link:hover {
	color: #be96cc;
}

.navbar-toggler-icon {
	height: auto;
	padding: 0;
	color: #122459;
}

/* Mise en forme du footer */

footer {
	padding: 30px 15px 14px 15px;
	background-color: #FFFFFF;
}

footer p {
	text-align: center;
}

footer p a {
	color: #445EF2;
}

footer p a:hover {
	color: #445EF2;
}

/* Mise en forme de la page d'accueil (Front) */

	/* Mise en forme de la section de présentation du roman (Front) */

	#novel-presentation {
		padding: 128px 15px;
		background: url("../images/novel.png") no-repeat;
		background-size: cover;
	}

	.novel-presentation__text p, .novel-presentation__text p {
		text-align: center;
	}

	.novel-presentation__text h1 {
		margin-top: 30px;
	}

	.novel-presentation__text p {
		font-size: 20px;
		margin: 30px 0;
	}

	.novel-presentation__text__new {
		color: #0D0D0D;
	}

	/* Mise en forme des 3 derniers épisodes (Front) */

	#novel-lastepisodes {
		margin: 50px 0 80px 0;
	}

	/* Mise en forme de la présentation de l'auteur (Front) */

	#novel-author {
		padding: 0 15px;
	}

	#novel-author div p:first-child {
		text-align: center;
	}

	.novel-author__presentation {
		padding: 54px 0 0 0;
	}

/* Mise en forme de la lecture de tous les épisodes (Front) */

#novel-episodes h1 {
	margin-bottom: 38px;
}

.novel-episodes__list__pagination {
	width: 50px;
	margin: auto;
}

.novel-episodes__welcome {
	margin-top: 50px;
	text-align: center;
	font-size: 1.1em;
}

/* Mise en forme de la lecture unitaire d'un épisode (Front & Back) */

	/* Lecture de l'épisode (Front) + Aperçu d'un épisode (Back) */

	#episode-read {
		margin-bottom: 80px;
	}

	#episode-read h1, #episode-look h1 {
		margin-bottom: 38px;
	}

	#episode-read h2, #episode-look h2, #episode-comments h2 {
		margin-bottom: 30px;
	}

	.episode-read__content {
		margin-top: 54px;
		padding: 0 15px;
	}

	#episode-read p, #episode-look p {
		background-color: #FFFFFF;
		border: 1px #FFFFFF solid; 
		border-radius: 5px;
		padding: 40px;
		line-height: 31px;
	}

	.episode-read__pagination, .episode-look__back {
		text-align: center;
		margin-top: 40px;
		padding: 0px 15px;
	}

	/* Lecture des commentaires (Front & Back) */

	#episode-comments ul, #admin-comments-alert ul, #admin-comments-global ul {
		padding: 0;
		margin-bottom: 50px;
	}
	
	#episode-comments ul article, #admin-comments-alert ul article, #admin-comments-global ul article {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	#episode-comments ul article p, #admin-comments-alert ul article p, #admin-comments-global ul article p {
		padding: 0 15px 15px 15px;
		text-align: center;
	}

	/* Ecriture des commentaires (Front) */

	#episode-comments .post-comment {
		text-align: center;
		margin-top: 54px;
	}

	#episode-comments form textarea {
		min-width: 600px;
		height: 200px;
	}

/* Mise en forme de l'inscription et de la connexion (Front) */

.identification {
	padding-left: 15px;
	padding-right: 15px;
}

.identification h1 {
	margin-bottom: 38px;
}

.identification form {
	margin-top: 70px;
	text-align: center;
}

.identification form input {
	min-width: 290px;
}

.identification form .remember-input {
	min-width: 10px;
}

.identification form .btn {
	margin-bottom: 30px;
}

.identification__complement {
	text-align: center;
}

/* Mise en forme de la page d'administration des épisodes et des commentaires (Back) */

.admin-jf {
	margin-bottom: 38px;
}

	/* Mise en forme du bloc épisodes (Back) */

	#admin-episodes-published, #admin-episodes-inprogress, #admin-comments-alert, #admin-comments-global {
		position: relative;
	}

	#admin-episodes-published__flag, #admin-episodes-inprogress__flag, #admin-comments-alert__flag, #admin-comments-global__flag {
		position: absolute;
		top: -8em;
	}

	#admin-episodes {
		margin-bottom: 80px;
	}

	#admin-episodes h2, #admin-comments h2 {
		margin-bottom: 30px;
	}

	#admin-episodes-published .new-episode {
		text-align: center;
		margin-top: 30px;
	}

	#admin-episodes-published h3, #admin-episodes-inprogress h3, #admin-comments-alert h3, #admin-comments-global h3 {
		font-family: 'Concert One', cursive;
		font-size: 2em;
		color: #445EF2;
		margin-top: 70px;
	}

	/* Mise en forme du bloc commentaires (Back) */

	#admin-comments-alert ul, #admin-comments-global ul{
		margin-top: 50px;
	}

/* Mise en forme de l'écriture et la modification d'épisodes (Back) */

.write h1 {
	margin-bottom: 80px;
}

.write form {
	text-align: center;
}

.write__number {
	min-width: 30px;
}

.write__title {
	min-width: 400px;
}

.update_title, .update_number {
	color: #122459;
	text-align: center;
}

.mce-content-body {
	line-height: 31px;
	font-family: 'Lato', sans-serif;
	padding-top: 15px;
	padding-bottom: 15px;
}

.tox-tinymce {
	max-width: 1200px;
	margin: auto;
	border-color: #9BA8F2!important;
	padding-bottom: 40px;
}

.episode-write__action {
	text-align: center;
}

.tox-editor-header {
	font-family: 'Lato', sans-serif; 
}

/* Responsive */

@media all and (max-width: 1230px) {

	.tox-tinymce {
		max-width: none;
		margin-left: 15px;
		margin-right: 15px;
	}

}

@media all and (max-width: 991px) {

	h1 {
		font-size: 2.8em;
	}

	h2 {
		font-size: 1.6em;
	}
	
	.navbar-expand-lg .navbar-nav .right-part .nav-link {
		color: #445EF2;
		border: 0px;
	}

	.navbar-collapse {
		padding-top: 20px;
	}

	.navbar-expand-lg .navbar-nav .right-part .nav-link:hover {
		color: #445EF2;
		border: 0px;
		background-color: transparent;
	}

	.p-2 {
		padding-top: 0px!important;
		padding-bottom: 0px!important;
	}

	.novel-section li {
		margin: 0 15px;
	}

	.novel-section article {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	.novel-section article p, .novel-section article h3 {
		padding-bottom: 15px;
	}

	#novel-presentation {
		padding: 24px 15px 50px 15px;
	}
	
	#novel-author {
		padding: 15px;
	}

	#novel-episodes, #episode-read, #subscription, #member-login, #episode-look, #episode-write, #episode-update, .admin-jf, #error404 {
		padding-top: 54px;
	}

	.novel-episodes__list__buttons {
		padding-left: 0;
		padding-top: 15px;
	}

	.novel-episodes__list__buttons li {
		text-align: center;
		padding-left: 0;
	}

	.page__no {
		margin-bottom: 54px;
	}
	
}

@media all and (max-width: 991px) {

	.container-fluid {
		margin-top: 56px;
	}

	#episode-comments form textarea {
		min-width: 450px;
		height: 200px;
	}
}

@media all and (max-width: 480px) {

	#episode-comments form textarea {
		min-width: 350px;
		height: 200px;
	}

	.modal-footer {
		justify-content: center;
	}
}

@media all and (max-width: 464px) {

	.btn__together input, .btn__together a {
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
		margin-right: 0;
	}

	.btn__prev {
		margin-bottom: 2px;
	}

	.btn__next {
		margin-top: 2px;
	}
}

@media all and (max-width: 383px) {

	.btn__prev {
		margin-bottom: 15px;
		margin-left: 15px;
	}
	
	.btn__next {
		margin-top: 15px;
		margin-right: 15px;
	}

	#episode-comments form textarea {
		min-width: 290px;
		height: 200px;
	}

	.table.mceLayout, .textarea.tinyMCE {
		width: 95% !important;
	}

	.write__title {
		min-width: 290px;
	}

}